
<div class="launch-details-container">
  <header>SpaceX Launch Programs</header>
  <main>
    <aside>
      <app-filter></app-filter>
    </aside>
    <section class="body">
      <ng-container *ngIf="launchDetails$ | async as launchCards">
        <app-launch-card *ngFor="let card of launchCards" [launchDetails]="card"></app-launch-card>
      </ng-container>
    </section>
  </main>
  <footer>
    <span class="footer-title">Developed by: </span>
    <span>{{developerName}}</span>
  </footer>
</div>