
<div class="launch-details-container">
  <header>SpaceX Launch Programs</header>
  <main>
    <aside>
      <app-filter></app-filter>
    </aside>

    <!-- If loader is activated show it -->
    <ng-container *ngIf="loading$ | async as loadingFlag; else displayContents">
      <section class="loading-body">
        <div class="loader"></div>
      </section>
    </ng-container>

    <!-- Proceed to show contents -->
    <ng-template #displayContents>
      <!-- Wait for data stream -->
      <ng-container *ngIf="launchDetails$ | async as launchCards">
        <!-- Only show cards if there is no data -->
        <section *ngIf="launchCards.length; else noItemsPresent" class="body">
          <app-launch-card *ngFor="let card of launchCards" [launchDetails]="card"></app-launch-card>
        </section>
        <!-- Show NO DATA UI -->
        <ng-template #noItemsPresent>
          <section class="loading-body">
            No data
          </section>
        </ng-template>
      </ng-container>
     
    </ng-template>

    <!-- <section *ngIf="launchDetails$ | async as launchCards" class="body">
      <app-launch-card *ngFor="let card of launchCards" [launchDetails]="card"></app-launch-card>
    </section> -->
    
  </main>
  <footer>
    <span class="footer-title">Developed by: </span>
    <span>{{developerName}}</span>
  </footer>
</div>