.launch-details-container {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  header {
    font-weight: 700;
    font-size: 1.15rem;
  }

  footer {
    padding: 1rem 0;
    text-align: center;
    .footer-title {
      font-weight: 700;
    }
  }

  main {
    display: flex;
    margin: 0.5rem 0;
    width: 100%;
    aside {
      width: 200px;
    }
    .body {
      // display: grid;
      width: calc(100% - 200px);
      // grid-template-columns: auto auto auto auto;
      display: flex;
      flex-wrap: wrap;
      // Implemented flex box as grid was not working well in IE
      .grid-item {
        width: 25%;
        &.flex-grow {
          flex-grow: 1;
        }
      }
    }
    .loading-body {
      display: flex;
      width: calc(100vw - 500px);
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .launch-details-container main .body {
    // grid-template-columns: auto auto;
    .grid-item {
      width: 50%;
      &.flex-grow {
        flex-grow: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .launch-details-container main {
    flex-direction: column;
    .body {
      margin-top: 10px;
      // grid-template-columns: auto;
      width: 200px;
      .grid-item {
        width: 100%;
      }
    }
    .loading-body {
      height: 200px;
      width: 200px;
    }
  }
}
